<% if (locals.success) { %>
<%= success %>
<% } else { %>
<form id="#signup-form" action="/reset" method="post">
    <input type="hidden" name="_csrf" value="<%= csrf %>"> 
<fieldset>
    <legend><h4>重设资料</h4></legend>
    <% if (locals.error) { %>
        <div class="form-error"> 
            <%= error %>
        </div>
    <% } %>
    <label for="oldpass">原密码：</label>
    <input type="password" name="oldpass">
    <label for="pass">新密码：</label>
    <input type="password" name="pass">
    <label for="name">确认新密码：</label>
    <input type="password" name="confirm_pass">
    <label for="email">Email：</label>
    <input type="text" name="email" value="<%= locals.email || '' %>">

    <input type="submit" value="提交">
</fieldset>
</form>
<% } %>